[submodule "replace-colorthemes"]
	path = lisp/replace-colorthemes
	url = https://github.com/emacs-jp/replace-colorthemes.git
[submodule "org-helpers"]
	path = lisp/org-helpers
	url = https://github.com/leoc/org-helpers.el.git
[submodule "lisp/ox-wk"]
	path = lisp/ox-wk
	url = https://github.com/w-vi/ox-wk.el.git
[submodule "lisp/org-bullets"]
	path = lisp/org-bullets
	url = https://github.com/sabof/org-bullets
[submodule "lisp/speedread"]
	path = lisp/speedread
	url = https://github.com/vapniks/speedread.git
