[submodule "replace-colorthemes"]
	path = lisp/replace-colorthemes
	url = https://github.com/emacs-jp/replace-colorthemes.git
[submodule "lisp/ox-wk"]
	path = lisp/ox-wk
	url = https://github.com/w-vi/ox-wk.el.git
[submodule "lisp/org-bullets"]
	path = lisp/org-bullets
	url = https://github.com/sabof/org-bullets
[submodule "lisp/speedread"]
	path = lisp/speedread
	url = https://github.com/vapniks/speedread.git
[submodule "lisp/org-query"]
	path = lisp/org-query
	url = git@github.com:remyhonig/org-query.git
[submodule "lisp/org-protocol-capture-html"]
	path = lisp/org-protocol-capture-html
	url = git@github.com:alphapapa/org-protocol-capture-html.git
